/*
* Переопределение переменных для темной темы,
* когда у <html> есть класс .theme-dark
*/
:root.theme-dark {
    --background-color: #000028;                   /* Темно-синий фон */
    --text-color: #000028;                         /* Очень темный цвет для текста на светлом фоне (здесь для подложки заголовков) */
    --button-text-color: #FF0070;                  /* Ярко-розовый для кнопок */
    --header-title-shadow: #FF0070;                /* Ярко-розовая тень для заголовка */
    --background-image: url('../images/cover-image-dark.png'); /* Фоновое изображение для темной темы */
    --main-text-color: #F1B2CE;                    /* Светло-розовый для основного текста */
    --content-section-title: #ff0070;              /* Ярко-розовый для заголовков секций */
    --accent-red: #ff0070;                         /* Акцентный красный (дублируется) */
    --decorated-zone-color: #FF0070;               /* Цвет декоративных рамок */
    --min-height: 768px;                           /* Минимальная высота шапки для темной темы */
    --footer-min-height: 768px;
}

/*
 * Медиа-запрос для автоматического применения темной темы,
 * если в операционной системе пользователя выбрана темная тема
 */
@media (prefers-color-scheme: dark) {
  /* Эти переменные будут применены по умолчанию для пользователей с темной темой ОС */
  :root {
      --background-color: #000028;
      --text-color: #000028;
      --button-text-color: #FF0070;
      --header-title-shadow: #FF0070;
      --background-image: url('../images/cover-image-dark.png');
      --main-text-color: #F1B2CE;
      --content-section-title: #ff0070;
      --accent-red: #ff0070;
      --decorated-zone-color: #FF0070;
      --min-height: 768px;
      --footer-min-height: 768px;
  }
}