/* Основна секція для центрування і фіксованої ширини контенту */
.content-section{
  box-sizing: border-box;
  width: 1100px;
  min-height: 100px;
  margin: auto;
}

/* Шапка сайту, розділена на 3 частини: меню, логотип, адрес */

.header{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  min-height: 290px;
  align-items: center;
  padding: 0 45px;
}

/* Список посилань у хедері */

.header__links-list{
  display: flex;
  gap: 30px;
}

/* Адрес з вирівнюванням вправо */

.address{
  width: 240px;
  justify-self: end;
  font-style: normal;
  margin-right: 5px;
}
/* Межстрочный интервал в адресе */

.address__grop{
  line-height: 25px ;
}

.header__links-list-item{
  list-style: none;
}

/* Отдельный стиль для ссылок с подчёркиванием */

.header__links-list-item_no-bullit{
  padding-left: 5px;
  list-style: circle;
  border-bottom:  2px solid #000;
}


.address__text{
  border-bottom:  1px solid #000;
}

/* Обложка сайта с фоном */

.cover{
  position: relative;
  min-height: 760px;
  min-width: 1100px;
  overflow: hidden;
}

.overlay{
  background-image: url(/images/lotus-flower.png);
  overflow: hidden;
  background-position: center;
  min-height: 760px;
  min-width: 1100px;
  filter: brightness(50%);
  position: absolute;
  z-index: 1;
}

/* Большой заголовок */

.cover__title{
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  z-index: 2;
  padding: 160PX 20px 50px 45px;

}
.aligned-text{
  display: flex;
  flex-direction: column;
  gap: 360px;
  letter-spacing: 30px;
  line-height: 135px;
}

.aligned-text_center{
  text-align: center;
}
.aligned-text_right{
  text-align: right;
}

/* Блок с текстом и кнопкой под заголовком */

.description{
  display: flex;
  max-width: 1005px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin-left: 45px;
  margin-top: 45px;
}
.cover__description-text{
  font-size: 22px;
  z-index: 3;
  color: #fff;
  word-spacing: 19px;
}

/* Кнопка "Сделать ставку" */

.bet-button{
  background: none;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  z-index: 3;
  padding: 10px 30px;
  margin-left: 10px;
  letter-spacing: 1px;
}

/* Секция с лотами */

.lots{
  display: flex;
  flex-direction: column;
  min-width: 1100px;
  min-height: 723px;
  margin-top: 180px;
  padding: 0 20px;
  color: #fff;
}

.lots__card-list{
  display: flex;
  gap: 25px;
}

.lots__card-list-item{
  min-width: 334px;
  min-height: 596px;
  list-style: none;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-width: 334px;
  max-height: 596px;
  z-index: 1; 
}

/* Затемнение фона карточки */

.overlay__card{
  position: absolute;
  min-width: 334px;
  min-height: 596px;
  filter: brightness(50%);
  position: absolute;
  z-index: 2;
}

/* Карточка — тип фильм */

.card_type_film{
  background-image: url(/images/photo.png);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: absolute;
  min-width: 334px;
  min-height: 596px;
  filter: brightness(50%);
  position: absolute;
  z-index: 0;
  
}

/* Карточка — тип книга */

.card_type_book{
  background-image: url(/images/photo2.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: absolute;
  min-width: 334px;
  min-height: 596px;
  filter: brightness(50%);
  position: absolute;
  z-index: 0;
}

/* Карточка — тип картина */

.card_type_picture{
  background-image: url(/images/photo3.png);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: absolute;
  min-width: 334px;
  min-height: 596px;
  filter: brightness(50%);
  position: absolute;
  z-index: 0;
}

/* Заголовок "Лоты" */

.lots__heading{
  font-size: 40px;
  color: #000;
  margin: 0 0 27px 40px
}

/* Текст на карточке */

.card__text{
  font-size: 20px;
  position: relative;
  color: #fff;
}

/* Заголовок карточки */

.card__title{
  color: #fff;
  font-size: 22px;
  border-bottom: 1px solid #fff ;
}

/* Внутренний контейнер карточки */

.card__conteiner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  max-width: 334px;
  height: 596px;
  padding: 48px 40px;
}

/* Ссылка "Посмотреть больше" */

.lots__look-more-link{
  width: 193px;
  margin: 28px 0 0 40px;
  font-size: 20px;
  border-bottom: 1px solid black;
}

/* Секция "О аукционе" */

.about {
  width: 1056px;
  height: 592px;
  display: grid;
  grid-template-columns: 240px 72px 693px;
  padding-left: 47px;
  box-sizing: border-box;
  margin-top: 155px;
}

/* Круглый контейнер с логотипом */

.about__logo {

  width: 240px;
  height: 240px;
  border-radius: 50%;
}

/* Изображение логотипа */

.about__logo-image {
  width: auto;
  height: auto;
}



.about__column-text {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

/* Заголовок секции */

.about__title {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 100px 0;
}

/* Параграфы с текстом */

.about__text p {
  font-size: 20px;
  margin-bottom: 25px;
  line-height: 1.2;
  color: black
}

/* Подвал сайта */

.footer{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  min-height: 180px;
  padding: 0 45px;
  gap: 170px;
  margin-top: 145px;
}

/* Меню в подвале */

.footer__menu{
  display: flex;
  min-width: 64px;
  min-width: 164px;
  text-align: center;
  margin: 4px 0 0 10px;
}

.footer__menu-list{
  list-style: none;
}

/* Список иконок соцсетей */

.footer__social-list{
  display: flex;
  list-style: none;
  gap: 48px;
  margin-top: 3px;
}

/* Ссылки в меню футера */

.footer__menu-link{
  list-style: circle;
  border-bottom:  2px solid #000;
}

.footer__menu-link_active{
  border: none;
}