/* Глобальные стили для проекта.
Эти стили применяются ко всему сайту и служат для сброса
стандартных браузерных стилей и установки общих правил. */

/* Устанавливаем box-sizing: border-box для всех элементов.
Это означает, что padding и border будут включены в общую ширину и высоту элемента,
что упрощает верстку. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Стили для элемента <body> */
body {
    min-inline-size: 375px;  /* Минимальная ширина документа, предотвращает сжатие на мобильных устройствах */
    max-inline-size: 1440px; /* Максимальная ширина документа, ограничивает ширину на больших экранах */
    margin: 0 auto;           /* Центрирование body внутри окна браузера, если max-inline-size меньше ширины окна */
}

/* Сброс внешних отступов (margin) для всех заголовков и параграфов.
Это позволяет задавать отступы индивидуально там, где это необходимо. */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Сброс стилей для неупорядоченных списков (ul).
Убираем стандартные отступы и маркеры. */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Сброс стилей для элемента <picture>, который используется для адаптивных изображений. */
picture {
    margin: 0;
    padding: 0;
}

/* Заставляем кнопки и ссылки наследовать стили родительских элементов.
Это упрощает стилизацию, так как не нужно переопределять цвет, шрифт и т.д. для каждого элемента. */
button,
a {
    color: currentColor; /* Наследование цвета текста */
    font-family: inherit; /* Наследование семейства шрифтов */
    font-size: inherit;   /* Наследование размера шрифта */
    line-height: inherit; /* Наследование высоты строки */
}
/* Дата добавления комментариев: 2025-08-07 */
