/*
 * Переменные для вашего проекта
 * и их переопределение под различные устройства
 */

/* :root — псевдокласс, который представляет корневой элемент документа.
В HTML это <html>. Здесь мы объявляем глобальные CSS-переменные. */
:root {
    /* Основные акцентные цвета */
    --accent-pink: #DB00FF;
    --accent-red: #ff0070;

    /* Цвета для фона и текста */
    --background-color: #0D1B2A; /* Цвет фона по умолчанию */
    --text-color: #000028; /* Основной цвет текста (для заголовков на цветном фоне) */
    --main-text-color: #F1B2CE; /* Цвет основного текста на темном фоне */
    
    /* Цвета для интерактивных элементов */
    --button-text-color: #FF0070; /* Цвет текста кнопок */
    
    /* Декоративные элементы */
    --decorated-element: var(--accent-pink); /* Цвет для декоративных элементов */
    --header-title-shadow: #FF0070; /* Цвет тени для заголовка в шапке */
    --title-decor: var(--accent-red); /* Цвет фона для заголовков секций */
    
    /* Шрифты */
    --font-primary: 'IBM Plex mono', monospace; /* Основной шрифт */

    /* Изображения */
    --background-image: url('../images/cover-image-dark.png'); /* Фоновое изображение для шапки */
    
    /* Секции */
    --content-section-title: #ff0070; /* Цвет заголовков в секциях контента */
    --section-background: var(--text-color); /* Цвет фона для секций */
    
    /* Размеры */
    --min-height: 720px; /* Минимальная высота шапки */
}
/* Дата добавления комментариев: 2025-08-07 */
